[submodule "Climate_Change/project-report-saejinm"]
	path = Climate_Change/project-report-saejinm
	url = https://github.com/info201a-wi20/project-report-saejinm.git
[submodule "Climate_Change/project-app-T3ch12et"]
	path = Climate_Change/project-app-T3ch12et
	url = https://github.com/info201a-wi20/project-app-T3ch12et.git
[submodule "new_orleans-flood_analysis/New-Orleans-Files"]
	path = new_orleans-flood_analysis/New-Orleans-Files
	url = https://github.com/T3ch12et/New-Orleans-Files.git
